/*AV*/
@font-face {font-family:'AV';font-weight:100;font-style:normal;src:url('fonts/AV100.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:100;font-style:italic;src:url('fonts/AV100I.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:200;font-style:normal;src:url('fonts/AV200.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:200;font-style:italic;src:url('fonts/AV200I.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:300;font-style:normal;src:url('fonts/AV300.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:300;font-style:italic;src:url('fonts/AV300I.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:400;font-style:normal;src:url('fonts/AV400.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:400;font-style:italic;src:url('fonts/AV400I.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:500;font-style:normal;src:url('fonts/AV500.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:500;font-style:italic;src:url('fonts/AV500I.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:600;font-style:normal;src:url('fonts/AV600.ttf') format('truetype');}
@font-face {font-family:'AV';font-weight:600;font-style:italic;src:url('fonts/AV600I.ttf') format('truetype');}
/*AV*/