<section class="row cover"></section>

<section class="row main archive-news x sidebar">
	<div class="row content">
    	<div class="col prime">
        	<div class="row box">
            	<div class="row heading"><h2>Page</h2></div>
                <div class="row bread">
                	{{ page.breadcrumb }}
                </div>
                <div class="row data">
                    <div class="row featured">
						{{ page.news_featured }}
                    </div>
                    <div class="row standard">
						{{ page.news_standard }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col aside">
        	<div class="row nav">
				{{ page.sidebar_menu_video }}
                <div class="row heading"><h5>Heading</h5></div>
                <div class="row data">
                    <ul>
                    <li class="active parent"><a href="">Parent</a>
                        <ul>
                        <li><a href="">Child</a></li>
                        <li><a href="">Child</a></li>
                        <li><a href="">Child</a></li>
                        <li><a href="">Child</a></li>
                        <li><a href="">Child</a></li>
                        </ul>
                    </li>
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                    </ul>
                </div>
            </div><!-- row.nav -->
            
            <div class="row popular">
            	<div class="row heading"><h5>Heading</h5></div>
                <div class="row data">
                	<ul>
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- col.aside -->
    </div><!-- row.content -->
</section>