<section class="row cover"></section>

<section class="row main archive-photos no-sidebar">
	<div class="row content">
    	<div class="row prime">
        	<div class="row box">
            	<div class="row heading"><h2>Page</h2></div>
                <div class="row bread">
                	{{ page.breadcrumb }}
                </div>
                <div class="row data">{{ page.gallery }}</div>
            </div>
            <div class="row paginate">
            	<ul>
                <li><a href="">First</a></li>
                <li><a href="">Previous</a></li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">Next</a></li>
                <li><a href="">Last</a></li>
                </ul>
            </div>
        </div>
    </div><!-- row.content -->
</section>